@model IEnumerable<OnlineShop4DVDS.Models.Artist>

@{
    ViewData["Title"] = "ArtistView";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ArtistView</h1>

<p>
    <a asp-action="ArtistInsert">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistImage)
            </td>
            <td>
                    @(item.ArtistRole?.ArtistRoleName ?? "No Role")
            </td>
            <td>
                <a asp-action="ArtistUpdate" asp-route-id="@item.ArtistId">Edit</a> |
                <form asp-action="ArtistDelete" method="post" style="display: inline">
                    <input type="hidden" name="id" value="@item.ArtistId"/>
                <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this artist?');">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
