@model OnlineShop4DVDS.Models.Game

@{
    ViewData["Title"] = "GameUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>GameUpdate</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GameUpdate" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GameId" />
            <div class="form-group">
                <label asp-for="DeveloperId" class="control-label">Developer</label>
                <select asp-for="DeveloperId" class="form-control" asp-items="@(ViewBag.Developers as SelectList)"></select>
                <span asp-validation-for="DeveloperId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameName" class="control-label"></label>
                <input asp-for="GameName" class="form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameDescription" class="control-label"></label>
                <input asp-for="GameDescription" class="form-control" />
                <span asp-validation-for="GameDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GamePrice" class="control-label"></label>
                <input asp-for="GamePrice" class="form-control" />
                <span asp-validation-for="GamePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameReleaseDate" class="control-label"></label>
                <input asp-for="GameReleaseDate" class="form-control" />
                <span asp-validation-for="GameReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameFilePath" class="control-label"></label>
                <input asp-for="GameFilePath" class="form-control" />
                <span asp-validation-for="GameFilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameImage" class="control-label"></label>
                <input name="GameImage" type="file" asp-for="GameImage" class="form-control" />
                <span asp-validation-for="GameImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Genres</label>
                @foreach(var genre in ViewBag.Genres as List<Genre>){
                    <div>
                        <input type="checkbox" name="SelectedGenreIds" value="@genre.GenreId"
                               @(ViewBag.SelectedGenreIds.Contains(genre.GenreId) ? "checked" : "")/>
                        <label>@genre.GenreName</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label>Platforms</label>
                @foreach (var platform in ViewBag.Platforms as List<Platform>)
                {
                    <div>
                        <input type="checkbox" name="SelectedPlatformIds" value="@platform.PlatformId"
                        @(ViewBag.SelectedPlatformIds.Contains(platform.PlatformId) ? "checked" : "") />
                        <label>@platform.PlatformName</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
