@model IEnumerable<OnlineShop4DVDS.Models.Album>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="User"><i class="fa fa-home"></i> Home</a>
                    <span>Albums</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product Section Begin -->
<section class="product-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>Albums</h4>
                                </div>
                                <form method="get" asp-action="AlbumPage" asp-controller="User">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select name="artistId" class="form-control">
                                                @foreach (var artist in ViewBag.Artists)
                                                {
                                                    <option value="@artist.ArtistId"
                                                            selected="@(artist.ArtistId == ViewBag.SelectedArtist ? "selected" : null)">
                                                        @artist.ArtistName
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-6 d-flex align-items-end">
                                            <button type="submit" class="site-btn">Filter</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                            </div>
                        </div>
                    </div>
                    <div id="albumList" class="row">
                        @foreach (var album in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 album-item" data-artist="@album.ArtistId">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                        <img src="~/images/albums/@album.AlbumImage" style="width: 100%; height: 320px; object-fit: cover;" alt="@album.AlbumTitle" />
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a asp-action="SingleAlbum" asp-controller="User" asp-route-id="@album.AlbumId">@album.AlbumTitle</a></h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                    <div class="product__sidebar__view mt-5">
                        <img src="~/img/ads/SONGS.png"
                             alt="Advertisement"
                             style="width: 100%; height: auto; border-radius: 10px;">
                    </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->
