@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/heropic1.webp">
                <div style="position: absolute; inset: 0; background: rgba(0, 0, 0, 0.5);"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="~/#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/heropic2.jpg">
                <div style="position: absolute; inset: 0; background: rgba(0, 0, 0, 0.5);"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="~/#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/heropic3.webp">
                <div style="position: absolute; inset: 0; background: rgba(0, 0, 0, 0.5);"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="~/#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Popular Movies</h4>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        @foreach (var movie in ViewBag.PopularMovies)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                        @* <div class="ep">18 / 18</div>
                                    <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                    <div class="view"><i class="fa fa-eye"></i> 9141</div> *@
                                        <img src="~/images/movies/@movie.MovieImage"
                                        style="width: 100%; height: 320px; object-fit: cover;"
                                        alt="@movie.MovieTitle" />
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            @foreach (var movieGenre in @movie.MovieGenres)
                                            {
                                                <li>@movieGenre.Genre.GenreName</li>
                                            }
                                        </ul>
                                        <h5><a asp-action="SingleMovie" asp-controller="User" asp-route-id="@movie.MovieId">@movie.MovieTitle</a></h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="recent__product mt-5">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>New Releases</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var movie in ViewBag.LatestMovies)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg">
                                            @* <div class="ep">18 / 18</div>
                                    <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                    <div class="view"><i class="fa fa-eye"></i> 9141</div> *@
                                            <img src="~/images/movies/@movie.MovieImage"
                                            style="width: 100%; height: 320px; object-fit: cover;"
                                            alt="@movie.MovieTitle" />
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                @foreach (var movieGenre in @movie.MovieGenres)
                                                {
                                                    <li>@movieGenre.Genre.GenreName</li>
                                                }
                                            </ul>
                                            <h5><a asp-action="SingleMovie" asp-controller="User" asp-route-id="@movie.MovieId">@movie.MovieTitle</a></h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Recently Added Songs</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var song in ViewBag.RecentSongs)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                        <img src="~/images/albums/@song.Album.AlbumImage"
                                             style="width: 100%; height: 320px; object-fit: cover;"
                                             alt="@song.SongName" />
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>@song.Category.CategoryName</li>
                                        </ul>
                                        <h5>
                                            <a asp-action="SingleSong" asp-controller="User" asp-route-id="@song.SongId">
                                                @song.SongName
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view mt-5">
                        <img src="~/img/ads/ONLINESHOP4DVDS.png"
                             alt="Advertisement"
                             style="width: 100%; height: auto; border-radius: 10px;">
                         </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


@*  *@