@model OnlineShop4DVDS.Models.Album
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./categories.html">Categories</a>
                    <span>Romance</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="img/anime/details-pic.jpg">
                        <img src="~/images/albums/@Model.AlbumImage"
                             style="width: 100%; height: 350px; object-fit: cover;"
                             alt="@@Model.MovieTitle" />
                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@Model.AlbumTitle</h3>
                        </div>
                        <p>
                            @Model.AlbumDescription
                        </p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Release Date:</span> @Model.AlbumReleaseDate</li>
                                        <li><span>Artist:</span> @Model.Artist.ArtistName</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Price:</span> @Model.AlbumPrice</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Songs</h5>
                    </div>
                    @if (ViewBag.Songs != null && ((List<Song>)ViewBag.Songs).Any())
                    {
                        var userCollection = ViewBag.UserCollection as List<int>; // Get the user's collection

                        foreach (var song in (List<Song>)ViewBag.Songs)
                        {
                            // Check if the song is in the user's collection
                            var isInCollection = userCollection.Contains(song.SongId);

                            <div style="width: 100%; margin-bottom: 20px; padding: 15px; border: 1px solid #333; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background-color: transparent; display: flex; align-items: center;">
                                <img src="~/images/albums/@Model.AlbumImage"
                                     style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px; margin-right: 15px;"
                                     alt="@Model.AlbumTitle" />

                                <div style="flex: 1;">
                                    <h3 style="margin: 0 0 10px 0; font-size: 20px; color: white;">
                                        @song.SongName
                                    </h3>

                                    <div style="display: flex; justify-content: space-between; align-items: center; font-size: 14px; color: #666;">
                                        <span>@song.Category.CategoryName</span>
                                        <div class="anime__details__btn">
                                            @if (isInCollection)
                                            {
                                                <button class="follow-btn" disabled>
                                                    <i class="fa fa-check"></i> Added to Collection
                                                </button>
                                            }
                                            else
                                            {
                                                <form asp-action="AddToCollection" asp-controller="User" method="post">
                                                    <input type="hidden" name="id" value="@song.SongId" />
                                                    <input type="hidden" name="albumId" value="@Model.AlbumId" />
                                                    <button type="submit" class="follow-btn">
                                                        <i class="fa fa-heart-o"></i> Add to Collection
                                                    </button>
                                                </form>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No songs available for this album.</p>
                    }
                    
                   
                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Your Comment</h5>
                    </div>
                    <form action="#">
                        <textarea placeholder="Your Comment"></textarea>
                        <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title">
                        <h5>you might like...</h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Boruto: Naruto next generations</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            var collectionMessage = '@TempData["CollectionMessage"]';
            if (collectionMessage) {
                alert(collectionMessage); // Display the alert
            }
        });
    </script>
}