@model OnlineShop4DVDS.Models.Game
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="User"><i class="fa fa-home"></i> Home</a>
                    <span>Game</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="img/anime/details-pic.jpg">
                        <img src="~/images/games/@Model.GameImage"
                             style="width: 100%; height: 350px; object-fit: cover;"
                             alt="@@Model.MovieTitle" />
                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@Model.GameName</h3>
                        </div>
                        <p>
                            @Model.GameDescription
                        </p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Release Date:</span> @Model.GameReleaseDate</li>
                                        <li><span>Genre:</span> @string.Join(", ", Model.GameGenres.Select(mg => mg.Genre.GenreName))</li>
                                        <li><span>Developer:</span> @Model.Developer.DeveloperName</li>
                                        <li><span>Platform:</span> @string.Join(", ", Model.GamePlatforms.Select(gp => gp.Platform.PlatformName))</li>
                                        <li><span>Price:</span> @Model.GamePrice</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <form asp-action="AddToCart" asp-controller="User" method="post">
                                <input type="hidden" name="ItemType" value="Game" />
                                <input type="hidden" name="ItemId" value="@Model.GameId" />

                                <div class="form-group" style="margin-bottom: 10px;">
                                    <label for="PlatformId" style="color: white;">Select Platform:</label>
                                    <select name="PlatformId" class="form-control" required>
                                        @foreach (var platform in Model.GamePlatforms)
                                        {
                                            <option value="@platform.PlatformId">@platform.Platform.PlatformName</option>
                                        }
                                    </select>
                                </div>

                                <button type="submit" class="follow-btn">
                                    <i class="fa fa-heart-o"></i> Add to Cart
                                </button>
                            </form>
                            <a asp-action="GameTrailer" asp-controller="User" asp-route-id="@Model.GameId" class="watch-btn">
                                <span>Watch Trailer</span> <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Reviews</h5>
                    </div>
                    @if (ViewBag.Reviews != null && ((List<Review>)ViewBag.Reviews).Any())
                    {
                        foreach (var review in (List<Review>)ViewBag.Reviews)
                        {
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <i class="fa fa-user-circle" style="font-size: 50px; color: #ccc;"></i>
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>@review.User.UserName - <span>@review.ReviewDate.ToString("MM/dd/yyyy")</span></h6>
                                    <p>@review.ReviewText</p>
                                    <div class="star-rating">
                                        @for (int i = 1; i <= review.ReviewRating; i++)
                                        {
                                            <span class="star active">&#9733;</span>
                                        }
                                        @for (int i = review.ReviewRating + 1; i <= 5; i++)
                                        {
                                            <span class="star">&#9733;</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No reviews available for this game.</p>
                    }
                </div>
                @{
                    ViewBag.AlbumId = null;
                    ViewBag.GameId = Model.GameId;
                    ViewBag.MovieId = null;
                }
                @await Html.PartialAsync("_ReviewForm", new OnlineShop4DVDS.Models.Review { GameId = Model.GameId })
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title">
                        <h5>you might like...</h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Boruto: Naruto next generations</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                        <div class="ep">18 / ?</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                        <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            var collectionMessage = '@TempData["ReviewMessage"]';
            if (collectionMessage) {
                alert(collectionMessage); // Display the alert
            }
        });
    </script>
}